html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 786 * 10);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 500 * 10);
  }
  @media (max-width: 500px) {
    font-size: calc(100vw / 500 * 10);
  }
}

body {
  min-width: 320px;
  background-color: hsl(0, 0%, 94%);
  height: 100%;
}

container {
  display: flex;
  height: 10rem;
  justify-content: center;
  padding: 10rem 2rem;
}

.app-window {
  background-color: hsl(0, 0%, 100%);

  border-radius: 3% 3% 30% 3%;

  width: 55rem;
  height: 45rem;

  text-align: center;
  font-family: "Poppins";

  @media (max-width: 768px) {
    height: 50rem;
  }
}

/* Окна ввода и ошибкиы */

.input-section {
  display: flex;
  padding: 1rem;
}

.input-column {
  padding: 2rem 0 0 1rem;
}
.topic {
  display: flex;
  color: hsl(0, 1%, 44%);
  font-size: 1rem;
  font-family: "Poppins-Bold";
  letter-spacing: 0.3rem;
  margin-left: 2.2rem;
}
.topic-error {
  color: red;
}

.birthday {
  display: block;
  border: 0.1rem solid hsl(0, 1%, 44%);
  color: black;
  border-radius: 10%;
  width: 9rem;
  height: 4.5rem;
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Poppins-Bold";
  text-align: left;
  margin-left: 2rem;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}
.error {
  border: 0.1rem solid red;
}
input:focus {
  outline: none;
  border: 0.1rem solid hsl(259, 100%, 65%);
}
input:hover {
  border: 0.1rem solid hsl(259, 100%, 65%);
  transition-duration: 400ms;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* #error-text {
  display: flex;
  margin-top: 1rem;
  width: 55rem;
  color: red;
  font-family: "Poppins-Italic";
  font-size: 1rem;
} */
.error-fields {
  display: block;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  /* padding-right: 2rem; */

  height: 2rem;
  width: 11rem;
  color: red;
}

/* Разделительная полоса и кнопка */

.line {
  display: inline-block;
  vertical-align: middle;

  border-bottom: 0.2rem solid hsl(0, 0%, 86%);
  width: 47rem;

  height: 0.5rem;
  margin-top: -1rem;

  @media (max-width: 768px) {
    width: 80vw;
    margin-top: 3rem;
  }
}

button {
  display: inline-block;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  border: 0.1rem solid hsl(259, 100%, 65%);
  height: 6rem;
  width: 6rem;
  margin-top: -2.5rem;
  margin-right: -43rem;
  z-index: 1;

  cursor: pointer;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}
button:hover {
  background-color: black;
  border: 0.1rem solid black;
}
img {
  width: 2.7rem;
  height: 2.7rem;
}

/* Вывод результата */

.result {
  display: grid;
  text-align: left;

  font-family: "Poppins-ExtraBoldItalic";
  font-size: 7rem;
  font-weight: 900;
  color: hsl(259, 100%, 65%);
  margin-top: 4rem;
  margin-left: 4rem;

  @media (max-width: 768px) {
    margin-top: 6rem;
  }
}
.result > * {
  margin-top: -2.5rem;
}
.color-text {
  color: black;
}

/* Footer */

.attribution {
  font-size: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Импорт шрифтов */

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Italic";
  src: url(../assets/fonts/Poppins-Italic.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
