@font-face {
  font-family: "Poppins-ExtraBold";
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Italic";
  src: url(../assets/fonts/Poppins-Italic.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  background-color: hsl(0, 0%, 94%);
  height: 100%;
}

container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app-window {
  width: 900px;
  height: 600px;
  /* display: grid; */

  background-color: hsl(0, 0%, 100%);

  border-radius: 3% 3% 30% 3%;
  margin: auto;
  margin-top: 3.5%;
  margin-left: 22%;

  text-align: center;
  justify-content: center;
  font-family: "Poppins";
}

.topic {
  color: hsl(0, 1%, 44%);
  font-size: 0.8rem;
  font-family: "Poppins-Bold";
  letter-spacing: 0.15rem;

  word-spacing: 8.5rem;
  margin-top: 5%;
  margin-left: -29%;
}

.input-form {
  display: flex;
  margin-left: 10%;
  margin-top: 0.5%;
}
.birthday {
  display: inline-block;
  border: 1px solid black;
  color: black;
  border-radius: 10%;
  width: 150px;
  height: 50px;
  line-height: 3rem;
  font-size: 20px;
  font-family: "Poppins-Bold";
  text-align: left;
  margin-right: 40px;
  padding-left: 10%;
}
input:focus {
  outline: none;
  border: 1px solid hsl(259, 100%, 65%);
}
.error {
  border: 1px solid red;
}
#error-text {
  display: flex;
  margin-top: 1%;
  margin-left: -25%;
  color: red;
  font-family: "Poppins-Italic";
  font-size: 0.7rem;
  text-align: left;
  justify-content: center;
}
.error-fields {
  display: block;
  margin-left: 5%;

  height: 2rem;
  width: 9rem;
}
/* .birthday {
  display: block;
  border: 1px solid hsl(0, 0%, 86%);
  color: hsl(0, 1%, 44%);
  border-radius: 10%;
  margin-left: 5%;
  width: 150px;
  height: 50px;
  line-height: 3rem;
  font-size: 20px;
  font-family: "Poppins";
  text-align: left;
  padding-left: 2%;
} */

.line {
  display: inline-block;
  vertical-align: middle;

  border-bottom: 2px solid hsl(0, 0%, 86%);
  width: 700px;

  height: 1px;

  margin-left: 10px;
}

button {
  display: inline-block;
  vertical-align: middle;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  border: 1px solid hsl(259, 100%, 65%);
  height: 80px;
  width: 80px;

  cursor: pointer;
}
button:hover {
  background-color: black;
  border: 1px solid black;
}
.result {
  display: grid;
  text-align: left;
  margin-left: 10%;
  margin-top: 1.5%;
  font-family: "Poppins-ExtraBoldItalic";
  font-size: 4.5rem;
  font-weight: 900;
  color: hsl(259, 100%, 65%);
}
.color-text {
  color: black;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
